In [1]:
import pandas as pd
import numpy as np

## Agg

In [2]:
df = pd.DataFrame([[1, 2, 3],
                    [4, 5, 6],
                    [7, 8, 9],
                    [np.nan, np.nan, np.nan]],
                   columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [3]:
df.agg(['sum', 'min'])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [4]:
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

        A    B
max   NaN  8.0
min   1.0  2.0
sum  12.0  NaN

In [5]:
df.agg("mean", axis="columns")

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64

## Transform

In [6]:
df = pd.DataFrame({'A': range(3), 'B': range(1, 4)})
df

   A  B
0  0  1
1  1  2
2  2  3

In [7]:
df.transform(lambda x: x + 1)

   A  B
0  1  2
1  2  3
2  3  4

## Groupby.transform

In [8]:
df.loc[3, ["A", "B"]] = [2, 1]
df

     A    B
0  0.0  1.0
1  1.0  2.0
2  2.0  3.0
3  2.0  1.0

In [9]:
df["count_B _in_A"] = df.groupby("A")["B"].transform('count')
df

     A    B  count_B _in_A
0  0.0  1.0              1
1  1.0  2.0              1
2  2.0  3.0              2
3  2.0  1.0              2